<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,     log4net" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>

  <log4net debug="true">
    <appender name="RollingFileAppenderInfo" type="log4net.Appender.RollingFileAppender">

      <threshold value="DEBUG" />
      <file value="Logs\log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="INFO" />
      </filter>
    </appender>

    <appender name="RollingFileAppenderError" type="log4net.Appender.RollingFileAppender">
      <threshold value="WARN" />
      <file value="Logs\logError.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="ERROR" />
      </filter>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppenderInfo" />
      <appender-ref ref="RollingFileAppenderError" />
    </root>
  </log4net>

  <connectionStrings>
    <add name="SSREntities" connectionString="metadata=res://*/SSR.csdl|res://*/SSR.ssdl|res://*/SSR.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-0KJB45B;initial catalog=SSR;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <!--<add name="SSREntities" connectionString="metadata=res://*/SSR.csdl|res://*/SSR.ssdl|res://*/SSR.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-QL525TB;initial catalog=SSR;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="site.url" value="http://localhost:55226" />
    <add key="site.url.privacidad" value="#" />
    <add key="site.url.contacto" value="#" />
    <add key="site.url.politicas" value="#" />
    <add key="site.path" value="D:\Projects\Net2017\SSR\Presentation.Web" />
    <!--Notificacion activar cuenta investigador-->
    <add key="notificacion.activar.cuenta.xslPath" value="D:\Projects\Net2017\SSR\Presentation.Web\Template\ActivarCuentaMailTemplateHtml.xslt" />
    <add key="notificacion.activar.cuenta.asunto" value="Activación de cuenta en ARCA" />
    <add key="notificacion.activar.cuenta.from" value="arca@arca.com" />
    <add key="notificacion.activar.cuenta.cc" value="" />
    <add key="notificacion.activar.cuenta.bcc" value="alonso.palacios.c@raycomsoluciones.com" />

    <!--Notificacion recuperar cuenta-->
    <add key="notificacion.recuperar.cuenta.xslPath" value="D:\Projects\Net2017\SSR\Presentation.Web\Template\RecuperarCuentaMailTemplateHtml.xslt" />
    <add key="notificacion.recuperar.cuenta.asunto" value="Restablecer contraseña en ARCA" />
    <add key="notificacion.recuperar.cuenta.from" value="arca@arca.com" />
    <add key="notificacion.recuperar.cuenta.cc" value="" />
    <add key="notificacion.recuperar.cuenta.bcc" value="alonso.palacios.c@raycomsoluciones.com" />

    <!--Notificacion nueva solicitud concepto-->
    <add key="notificacion.solicitud.concepto.xslPath" value="D:\Projects\Net2017\SSR\Presentation.Web\Template\SolicitudConceptoMailTemplateHtml.xslt" />
    <add key="notificacion.solicitud.concepto.asunto" value="Nueva Solicitud de concepto - ARCA" />
    <add key="notificacion.solicitud.concepto.from" value="arca@arca.com" />
    <add key="notificacion.solicitud.concepto.cc" value="" />
    <add key="notificacion.solicitud.concepto.bcc" value="alonso.palacios.c@raycomsoluciones.com" />



    <!--Notificacion nueva cuenta (no investigador)-->
    <add key="notificacion.nueva.cuenta.xslPath" value="D:\Projects\Net2017\SSR\Presentation.Web\Template\NuevoUsuarioMailTemplateHtml.xslt" />
    <add key="notificacion.nueva.cuenta.asunto" value="Activación de cuenta en ARCA" />
    <add key="notificacion.nueva.cuenta.from" value="arca@arca.com" />
    <add key="notificacion.nueva.cuenta.cc" value="" />
    <add key="notificacion.nueva.cuenta.bcc" value="alonso.palacios.c@raycomsoluciones.com" />

    <add key="concept.html.xslPath" value="D:\Projects\Net2017\SSR\Presentation.Web\Template\ConceptTemplateHtml.xslt" />
    <add key="certification.html.xslPath" value="D:\Projects\Net2017\SSR\Presentation.Web\Template\CertificationTemplateHtml.xslt" />



    <!--Notificacion nuevo proyecto de ley-->
    <!--   <add key="notificacion.draftlaw.new.xslPath" value="D:\Projects\Net2017\SSR\Presentation.Web\Template\NewDraftLawMailTemplateHtml.xslt" />
    <add key="notificacion.draftlaw.new.asunto" value="Nuevos Proyectos de ley de sus áreas de interés - ARCA" />
    <add key="notificacion.draftlaw.new.from" value="arca@arca.com" />
    <add key="notificacion.draftlaw.new.cc" value="" />
    <add key="notificacion.draftlaw.new.bcc" value="alonso.palacios.c@raycomsoluciones.com" />y-->

    <!--Notificacion Evaluar concepto-->
    <add key="notificacion.concept.eval.xslPath" value="D:\Projects\Net2017\SSR\Presentation.Web\Template\RevisionConceptoMailTemplateHtml.xslt" />
    <add key="notificacion.concept.eval.asunto" value="Nuevo concepto en Arca para evaluar" />
    <add key="notificacion.concept.eval.from" value="arca@arca.com" />
    <add key="notificacion.concept.eval.cc" value="" />
    <add key="notificacion.concept.eval.bcc" value="alonso.palacios.c@raycomsoluciones.com" />


    <!--Notificacion  concepto rechazado-->
    <add key="notificacion.concept.rechazado.xslPath" value="D:\Projects\Net2017\SSR\Presentation.Web\Template\ConceptoRechazadoMailTemplateHtml.xslt" />
    <add key="notificacion.concept.rechazado.asunto" value="Concepto sobre proyecto de ley no ha sido aceptado" />
    <add key="notificacion.concept.rechazado.from" value="arca@arca.com" />
    <add key="notificacion.concept.rechazado.cc" value="" />
    <add key="notificacion.concept.rechazado.bcc" value="alonso.palacios.c@raycomsoluciones.com" />


    <!--Notificacion  concepto Aprobado-->
    <add key="notificacion.concept.aprobado.xslPath" value="D:\Projects\Net2017\SSR\Presentation.Web\Template\ConceptoAprobadoMailTemplateHtml.xslt" />
    <add key="notificacion.concept.aprobado.asunto" value="Su concepto en Arca ha sido aprobado" />
    <add key="notificacion.concept.aprobado.from" value="arca@arca.com" />
    <add key="notificacion.concept.aprobado.cc" value="" />
    <add key="notificacion.concept.aprobado.bcc" value="alonso.palacios.c@raycomsoluciones.com" />

    <!--Notificacion  concepto por calificar-->
    <add key="notificacion.concept.calificar.xslPath" value="D:\Projects\Net2017\SSR\Presentation.Web\Template\ConceptoPorCalificarMailTemplateHtml.xslt" />
    <add key="notificacion.concept.calificar.asunto" value="Concepto por calificar - ARCA" />
    <add key="notificacion.concept.calificar.from" value="arca@arca.com" />
    <add key="notificacion.concept.calificar.cc" value="" />
    <add key="notificacion.concept.calificar.bcc" value="alonso.palacios.c@raycomsoluciones.com" />


    <!--Notificacion  concepto calificado-->
    <add key="notificacion.concept.calificado.xslPath" value="D:\Projects\Net2017\SSR\Presentation.Web\Template\ConceptoCalificadoMailTemplateHtml.xslt" />
    <add key="notificacion.concept.calificado.asunto" value="Su Concepto presentado en ARCA ha sido calificado" />
    <add key="notificacion.concept.calificado.from" value="arca@arca.com" />
    <add key="notificacion.concept.calificado.cc" value="" />
    <add key="notificacion.concept.calificado.bcc" value="alonso.palacios.c@raycomsoluciones.com" />


    <!--Notificacion  consultar concepto-->
    <add key="notificacion.movil.investigator.data.xslPath" value="D:\Projects\Net2017\SSR\Presentation.Web\Template\EnviarDatosInvestigadorMailTemplateHtml.xslt" />
    <add key="notificacion.movil.investigator.data.asunto" value="Solicitud de los datos de contacto del investigador - ARCA" />
    <add key="notificacion.movil.investigator.data.from" value="arca@arca.com" />
    <add key="notificacion.movil.investigator.data.to" value= "arca@senado.gov.co" />
    <add key="notificacion.movil.investigator.data.cc" value="" />
    <add key="notificacion.movil.investigator.data.bcc" value="alonso.palacios.c@raycomsoluciones.com" />
   

    <add key="notificacion.movil.congresista.data.xslPath" value="D:\Projects\Net2017\SSR\Presentation.Web\Template\EnviarDatosCongresistaMailTemplateHtml.xslt" />
    <add key="notificacion.movil.congresista.data.asunto" value="Solicitud de ampliación o actualización del concepto - ARCA" />
    <add key="notificacion.movil.congresista.data.from" value="arca@arca.com" />
    <add key="notificacion.movil.congresista.data.to" value="arca@senado.gov.co" />
    <add key="notificacion.movil.congresista.data.cc" value="" />
    <add key="notificacion.movil.congresista.data.bcc" value="alonso.palacios.c@raycomsoluciones.com" />

    
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="ecuadros@sbperu.net">
        <network host="mail.sbperu.net" password="k2X77?N9$" userName="ecuadros@sbperu.net" port="587" />
      </smtp>
      <!-- <smtp from="portal.renadsa@renadsa.com">
        <network host="mail.renadsa.com" password="Renmal2016" userName="portal.renadsa@renadsa.com" port="445" />
      </smtp>-->
    </mailSettings>
  </system.net>
  <system.web>
    <globalization culture="es-ES" uiCulture="es" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".properties" />
      <mimeMap fileExtension=".properties" mimeType="text/plain" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
