@{
    ViewBag.Title = "Intentos Excedidos";
}

<h2>Intentos Excedidos</h2>

<p>Usted ha alcanzado el número máximo permitido de intentos con una contraseña errada. Por favor contacte al administrador para volver a activarla.</p>