@{
    ViewBag.Title = "Error de acceso";
}



}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">@ViewBag.Title</h4>
            </div>
            <div class="card-body">
                <p>Usted no tiene permisos para editar el concepto técnico seleccionado. Solo el usuario que creó el concepto técnico puede editar el concepto.</p>
            </div><!-- end content-->
        </div><!--  end card  -->
    </div> <!-- end col-md-12 -->
</div> <!-- end row -->