<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,     log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <log4net debug="true">
    <appender name="RollingFileAppenderInfo" type="log4net.Appender.RollingFileAppender">
      <threshold value="DEBUG" />
      <file value="D:\EDISON\Proyectos\bitbucket-repos\SSR\Notificacion.Nuevos.Proyectos.Ley\Logs\log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="INFO" />
      </filter>
    </appender>
    <appender name="RollingFileAppenderError" type="log4net.Appender.RollingFileAppender">
      <threshold value="WARN" />
      <file value="D:\EDISON\Proyectos\bitbucket-repos\SSR\Notificacion.Nuevos.Proyectos.Ley\Logs\logError.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="ERROR" />
      </filter>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppenderInfo" />
      <appender-ref ref="RollingFileAppenderError" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="SSREntities" connectionString="metadata=res://*/SSR.csdl|res://*/SSR.ssdl|res://*/SSR.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-JD90MGS\EDISONPC;initial catalog=SSR;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--Notificacion nueva solicitud concepto-->
    <add key="notificacion.proyectos.nuevos.xslPath" value="D:\EDISON\Proyectos\bitbucket-repos\SSR\Notificacion.Nuevos.Proyectos.Ley\Template\NewDraftLawMailTemplateHtml.xslt" />
    <add key="notificacion.proyectos.nuevos.asunto" value="Nuevos proyectos de ley en ARCA" />
    <add key="notificacion.proyectos.nuevos.from" value="arca@arca.com" />
    <add key="notificacion.proyectos.nuevos.cc" value="" />
    <add key="notificacion.proyectos.nuevos.bcc" value="ecuadros@sbperu.net" />
    <add key="site.url" value="http://localhost:55226" />

    <add key="site.url.privacidad" value="#" />
    <add key="site.url.contacto" value="#" />
    <add key="site.url.politicas" value="#" />
    <add key="site.path" value="D:\EDISON\Proyectos\bitbucket-repos\SSR\Presentation.Web" />
    
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="ecuadros@sbperu.net">
        <network host="mail.sbperu.net" password="k2X77?N9$" userName="ecuadros@sbperu.net" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>