
@{
    ViewBag.HeaderTitleLink = Url.Action("index", "consultation");
    ViewBag.HeaderTitle = "Solicitud de concepto";
    ViewBag.Title = "Mis solicitudes de concepto";

    ViewBag.active = "consultations";

}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">@ViewBag.Title</h4>
            </div>
            <div class="card-body">
                <div class="toolbar">
                    <!--        Here you can write extra buttons/actions for the toolbar              -->
                </div>
                <table id="dt-lista" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Título</th>
                            <th>Áreas de interés</th>
                            <th>Tipo de solicitud</th>
                            <th>Mensaje</th>
                            <th>Fecha creación</th>



                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Código</th>
                            <th>Título</th>
                            <th>Áreas de interés</th>
                            <th>Tipo de solicitud</th>
                            <th>Mensaje</th>
                            <th>Fecha creación</th>


                        </tr>
                    </tfoot>

                </table>
            </div><!-- end content-->
        </div><!--  end card  -->
    </div> <!-- end col-md-12 -->
</div> <!-- end row -->
<!-- Classic Modal -->
<div class="modal fade" id="summary_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
                <h4 class="title title-up">Mensaje</h4>
            </div>
            <div id="modal-body-summary" class="modal-body">
                <p>

                </p>
            </div>

        </div>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">
        var datatable;
        $(function () {
            UiFormulario.init();
        })

        var UiFormulario = function () {

            return {
                init: function () {
                    /* Initialize Bootstrap Datatables Integration */
                    //App.datatables();



                    /* Initialize Datatables */
                    datatable = $('#dt-lista').DataTable({
                        order: [[5, "desc"]],
                        responsive: true,
                        "proccessing": true,
                        "serverSide": true,
                        "ajax": {
                            url: "@Url.Action("ObtenerLista", "Consultation")",
                            type: 'POST'
                        },
                        language: {
                            "url": "/Assets/media/language/spanish.json"
                        },
                        "sDom": "<'row'<'col-12'B>><'row'<'col-sm-6 col-xs-5'l><'col-sm-6 col-xs-7'f>r>t<'row'<'col-sm-5 hidden-xs'i><'col-sm-7 col-xs-12 clearfix'p>>",
                        buttons: [

                            {
                                extend: 'csvHtml5',
                                className: "btn btn-effect-ripple btn-default toggle-bordered enable-tooltip",
                                init: function (api, node, config) {
                                    $(node).removeClass('dt-button')
                                }
                            },
                            {
                                extend: 'excelHtml5',
                                className: "btn btn-effect-ripple btn-default toggle-bordered enable-tooltip",
                                init: function (api, node, config) {
                                    $(node).removeClass('dt-button')
                                }
                            },
                            {
                                extend: 'pdfHtml5',
                                className: "btn btn-effect-ripple btn-default toggle-bordered enable-tooltip",
                                init: function (api, node, config) {
                                    $(node).removeClass('dt-button')
                                }
                            },
                            {
                                text: '<i class="fa fa-plus"></i> Agregar',
                                className: "btn btn-primary pull-right",
                                action: function (e, dt, node, config) {
                                    window.location = "@Url.Action("Crear", "Consultation")";
                                },
                                init: function (api, node, config) {
                                    $(node).removeClass('dt-button');
                                    setTimeout(function () {
                                        $(node).parent().parent().append($(node));
                                    }, 100);
                                },
                            }
                        ],
                        "columns": [
                            { "data": "consultation_id" },
                            { "data": "title" },                        
                            { "data": "interest_areas_str" },
                            { "data": "consultation_type" },
                            { "data": "consultation_id" },
                             { "data": "date_created" }
                        ],

                        columnDefs: [
                            { 'className': 'text-center', 'targets': [2, 3] },
                            {
                                render: function (data, type, row) {


                                    return '<p class="overflow-friendly" title="' + row.title + '">' + row.title + '</p>';
                                },
                                targets: 1
                            },
                            {
                                render: function (data, type, row) {

                                    if (row.date_created == null) { return "" };
                                    var actionsHtml = moment(row.date_created).format("DD/MM/YYYY HH:mm");
                                    return actionsHtml;
                                },
                                targets: 5
                            },
                            {
                                render: function (data, type, row) {
                                    return '<p style="display:none" id="summary-' + row.consultation_id + '">' + row.message + '</p>'
                                        + '<a href="#" class="btn btn-effect-ripple btn-xs btn-warning summary" row-id="' + row.consultation_id + '" data-toggle="tooltip" title="Ver Mensaje"><i class="now-ui-icons education_paper"></i></a>';

                                },
                                targets: 4,
                                orderable: false
                            }

                        ],

                        pageLength: 10,
                        lengthMenu: [[10, 20, 50], [10, 20, 50]]
                    });
                    datatable.on('click', '.summary', function (event) {
                        debugger;
                        var $tr = $(this).closest('tr');
                        var row_id = $(this).attr('row-id');

                        var summary = $('#summary-' + row_id).html();
                        $('#modal-body-summary').html(summary);
                        $("#summary_modal").modal('show');
                        event.preventDefault();
                    });

                    /* Add placeholder attribute to the search input */
                    $('.dataTables_filter input').attr('placeholder', 'Buscar');
                }
            };
        }();
    </script>
}


