<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,     log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <log4net debug="true">
    <appender name="RollingFileAppenderInfo" type="log4net.Appender.RollingFileAppender">
      <threshold value="DEBUG" />
      <file value="D:\EDISON\Proyectos\bitbucket-repos\SSR\PruebaCorreo\Logs\log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="INFO" />
      </filter>
    </appender>
    <appender name="RollingFileAppenderError" type="log4net.Appender.RollingFileAppender">
      <threshold value="WARN" />
      <file value="D:\EDISON\Proyectos\bitbucket-repos\SSR\PruebaCorreo\Logs\logError.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="ERROR" />
      </filter>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppenderInfo" />
      <appender-ref ref="RollingFileAppenderError" />
    </root>
  </log4net>
  <appSettings>

    <add key="notificacion.prueba.data.asunto" value="Solicitud de ampliación o actualización del concepto - ARCA" />
    <add key="notificacion.prueba.data.from" value="cael.arca@gmail.com" />
    <add key="notificacion.prueba.data.to" value="ecuadros@sbperu.net" />
    <add key="notificacion.prueba.data.cc" value="" />
    <add key="notificacion.prueba.data.bcc" value="" />



  </appSettings>
  <system.net>
    <mailSettings>
     

    <smtp deliveryMethod="Network" from="cael.arca@gmail.com">
        <network  defaultCredentials="true" host="smtp.gmail.com" port="587" enableSsl="true" userName="cael.arca@gmail.com" password="Cael.arca2019"/>
      </smtp>
     <!--<smtp deliveryMethod="Network" from="arca@senado.gov.co">
        <network defaultCredentials="true" host="smtp.gmail.com" port="587" enableSsl="true" userName="arca@senado.gov.co" password="Sgeneral25"/>
      </smtp>-->
    
     <!-- <smtp from="appcorreos@navitranso.com">
        <network host="outlook.office365.com" password="Peru3000" userName="appcorreos@navitranso.com" port="587"   enableSsl="true" />
      </smtp>-->
      <!-- <smtp from="portal.renadsa@renadsa.com">
        <network host="mail.renadsa.com" password="Renmal2016" userName="portal.renadsa@renadsa.com" port="445" />
      </smtp>-->
    </mailSettings>
  
  </system.net>
</configuration>