<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<style>
table table, table table td, table table th {
  border: 1px solid;
}


</style>
</head>
<body style="margin-top: 0px;margin-left: 0px;">
<div align="center" >
<table  cellpadding="0" cellspacing="0" width="776px" height="1016px">
<tbody style="vertical-align:top;" >
<tr>
<td style="padding-left:40px;padding-right:40px;" >
<table width="100%" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
<tbody>
<tr>
<td width="250"><P class="p1 ft1" style="font-style:normal;font-variant:normal;font-weight:normal;font-size:16px;font-family:'Calibri';line-height:normal;text-align:left;padding-left:10px;margin-top:0px;margin-bottom:0px;margin-right:0px;margin-left:0px;" >Consecutivo</P></td>
<td width="546">//@concept_id</td>
</tr>
<tr>
<td width="250"><P class="p1 ft1" style="font-style:normal;font-variant:normal;font-weight:normal;font-size:16px;font-family:'Calibri';line-height:normal;text-align:left;padding-left:10px;margin-top:0px;margin-bottom:0px;margin-right:0px;margin-left:0px;" >Fecha de Presentación</P></td>
<td width="546">//@fecha_presentacion</td>
</tr>
<tr>
<td width="250"><P class="p1 ft1" style="font-style:normal;font-variant:normal;font-weight:normal;font-size:16px;font-family:'Calibri';line-height:normal;text-align:left;padding-left:10px;margin-top:0px;margin-bottom:0px;margin-right:0px;margin-left:0px;" >Nombre investigador</P></td>
<td width="546">
//@investigador
</td>
</tr>
<tr>
<td width="250"><P class="p1 ft1" style="font-style:normal;font-variant:normal;font-weight:normal;font-size:16px;font-family:'Calibri';line-height:normal;text-align:left;padding-left:10px;margin-top:0px;margin-bottom:0px;margin-right:0px;margin-left:0px;" >Cedula</P></td>
<td width="546">
//@cedula
</td>
</tr>
<tr>
<td width="250"><P class="p1 ft1" style="font-style:normal;font-variant:normal;font-weight:normal;font-size:16px;font-family:'Calibri';line-height:normal;text-align:left;padding-left:10px;margin-top:0px;margin-bottom:0px;margin-right:0px;margin-left:0px;" >Institución vinculada SNIES</P></td>
<td width="546">
//@institucion
</td>
</tr>
<tr>
<td width="250"><P class="p1 ft1" style="font-style:normal;font-variant:normal;font-weight:normal;font-size:16px;font-family:'Calibri';line-height:normal;text-align:left;padding-left:10px;margin-top:0px;margin-bottom:0px;margin-right:0px;margin-left:0px;" >Grupo vinculado</P></td>
<td width="546">
//@grupo_vinculado
</td>
</tr>
<tr>
<td width="250"><P class="p1 ft1" style="font-style:normal;font-variant:normal;font-weight:normal;font-size:16px;font-family:'Calibri';line-height:normal;text-align:left;padding-left:10px;margin-top:0px;margin-bottom:0px;margin-right:0px;margin-left:0px;" >Fecha de elaboración</P></td>
<td width="546">
//@fecha_elaboracion
</td>
</tr>
</tbody>
</table>
<table width="100%"  cellpadding="0" cellspacing="0" style="margin-top:30px;border-collapse: collapse;" >
<tbody>
<tr>
<td width="250"><P class="p1 ft1" style="font-style:normal;font-variant:normal;font-weight:normal;font-size:16px;font-family:'Calibri';line-height:normal;text-align:left;padding-left:10px;margin-top:0px;margin-bottom:0px;margin-right:0px;margin-left:0px;" >Título del proyecto de Ley</P></td>
<td width="546"></td>
</tr>
<tr>
<td width="250"><P class="p1 ft1" style="font-style:normal;font-variant:normal;font-weight:normal;font-size:16px;font-family:'Calibri';line-height:normal;text-align:left;padding-left:10px;margin-top:0px;margin-bottom:0px;margin-right:0px;margin-left:0px;" >Número</P></td>
<td width="546"></td>
</tr>
<tr>
<td width="250"><P class="p1 ft1" style="font-style:normal;font-variant:normal;font-weight:normal;font-size:16px;font-family:'Calibri';line-height:normal;text-align:left;padding-left:10px;margin-top:0px;margin-bottom:0px;margin-right:0px;margin-left:0px;" >Origen</P></td>
<td width="546"></td>
</tr>
<tr>
<td width="250"><P class="p1 ft1" style="font-style:normal;font-variant:normal;font-weight:normal;font-size:16px;font-family:'Calibri';line-height:normal;text-align:left;padding-left:10px;margin-top:0px;margin-bottom:0px;margin-right:0px;margin-left:0px;" >F-presentado</P></td>
<td width="546"></td>
</tr>
<tr>
<td width="250"><P class="p1 ft1" style="font-style:normal;font-variant:normal;font-weight:normal;font-size:16px;font-family:'Calibri';line-height:normal;text-align:left;padding-left:10px;margin-top:0px;margin-bottom:0px;margin-right:0px;margin-left:0px;" >Comisión</P></td>
<td width="546"></td>
</tr>
<tr>
<td width="250"><P class="p1 ft1" style="font-style:normal;font-variant:normal;font-weight:normal;font-size:16px;font-family:'Calibri';line-height:normal;text-align:left;padding-left:10px;margin-top:0px;margin-bottom:0px;margin-right:0px;margin-left:0px;" >Tema</P></td>
<td width="546"></td>
</tr>
</tbody>
</table>
<table width="100%" cellpadding="0" cellspacing="0" style="margin-top:30px;border-collapse: collapse;" >
<tbody>
<tr>
<td><P class="p5 ft2" style="font-style:normal;font-variant:normal;font-weight:normal;font-size:19px;font-family:'Calibri';line-height:23px;text-align:left;padding-left:10px;margin-top:0px;margin-bottom:30px;margin-right:0px;margin-left:0px;" >Resumen del concepto  (200 palabras máximo)</P></td>
</tr>
</tbody>
</table>
<table width="100%"  cellpadding="0" cellspacing="0" style="margin-top:30px;border-collapse: collapse;" >
<tbody>
<tr>
<td><div class="p5 ft2" style="font-style:normal;font-variant:normal;font-weight:normal;font-size:19px;font-family:'Calibri';line-height:23px;text-align:left;padding-left:10px;margin-top:0px;margin-bottom:30px;margin-right:0px;margin-left:0px;" >Contenido concepto técnico :
</div>
<div class="p5 ft2" style="font-style:normal;font-variant:normal;font-weight:normal;font-size:19px;font-family:'Calibri';line-height:23px;text-align:left;padding-left:10px;margin-top:0px;margin-bottom:30px;margin-right:0px;margin-left:0px;" >
<p>POR LA CUAL SE MODIFICA LA LEY 270 DE 1996, ESTATUTARIA DE LA ADMINISTRACIÓN DE JUSTICIA, SE ESTABLECEN LOS MECANISMOS PARA LA RESOLUCIÓN DE CONTROVERSIAS Y LITIGIOS AGRARIOS Y RURALES, Y SE DICTAN OTRAS DISPOSICIONES<br></p>
</div>

</td>
</tr>
</tbody>
</table>

<table width="100%"  cellpadding="0" cellspacing="0" style="margin-top:30px;border-collapse: collapse;" >
<tbody>
<tr>
<td width="250"><P class="p8 ft2" style="font-style:normal;font-variant:normal;font-weight:normal;font-size:19px;font-family:'Calibri';line-height:23px;text-align:left;padding-left:10px;margin-top:0px;margin-bottom:0px;margin-right:0px;margin-left:0px;" >Fecha del certificación del insumo por parte del CAEL</P></td>
<td width="546"></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
 </body>
</html>